# CODEOWNERS
# 
# This file defines code ownership for the hve-core repository.
# Code owners are automatically requested for review when someone opens a pull request
# that modifies files they own.
#
# Syntax: <file-pattern> @owner1 @owner2
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# GitHub Actions
/.github/workflows/ @microsoft/edge-ai-core-dev

# Automation Scripts
/scripts/security/ @microsoft/edge-ai-core-dev
